body{
    margin: 0px;
}
div{
    width: 100px;
    height: 200px;
    border: red solid 5px;
    float:left;
    padding: 10px;
    margin: 30px;
    border-radius: 20%;
    
}
#d4 {
    animation-name: myanim;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
#d1{
transform: rotateX(150deg);
}
#d2{
    transform: scale3d(0.5,0.2,0.3);
}
#d3 {
    float:right;
    margin-top: 200px;
}
@keyframes myanim{
    25% {background-color: chartreuse};
    50% {background-color:crimson};
    75% {background-color:darkorange};
    100% {background-color:red};
}